.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(21, 134, 119);
    overflow-x: hidden;
}

.sidenav a {
    text-decoration: none;
    color: white;
    font-size:14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: 20px;
}

.sidenav a:hover{
    transform: scale(1.2);

}


.profile {
    display: none;
}